<%#
    This partial takes a single user and displays their info.

    Explicitly passed in on webpage.
    @input {User} user needs a User object to display their info.

    Example: include('partials/single-user', {user})
%>

<tr>
    <td class="queue-cell">
        <%= user.fname %>
        <%= user.lname %>
    </td>

    <td class="queue-cell">
        <%= user.email %>
    </td>

    <td class="queue-cell">
        <%= user.phone %>

    </td>
