<%- include('partials/head', { title: 'Horse Profile', css: 'horse' }) %>

<body>
    <%- include('partials/header-nav') %>
    <div id="page-container" class="container-fluid">

    </div>
    <%- include('partials/footer') %>
</body>
