<%- include('partials/head', { title: 'Administration' }) %>

<body>
    <%- include('partials/header-nav', {name: username}) %>
    <div id="page-container" class="container">

        <table id="queue" class="table table-striped table-dark" width="95%">
            <thead>
                <tr role="row">
                    <th scope="col" id="left-col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col" id="right-col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <% for (user of users) { %>
                <%-  include('partials/single-user.ejs', { user }) %>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer') %>
</body>
